/*** Add your styles here **/       
body {
    background-color: #f8f8f8;
}
.header {
    font-size: 2.4rem;
    font-family: 'Lato', sans-serif;
    color: #000000;
    line-height: 2.4rem;

}
.header span {
    font-size: 3.8rem;
    font-family: 'Italianno', cursive;
    color: #e082a8;
}

/* Socials */
.socials {
    list-style: none;
    margin: 0;
    padding: 0;
}
.socials ul li {
    position: relative;
    display: inline-block;
}
.socials ul li a::before {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0.4rem;
    content: '\f08e';
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    color: #e082a8;
}
.socials ul li a[href*="facebook.com"]::before {
    content: '\f230';
}
.socials ul li a[href*="twitter.com"]::before {
    content: '\f081';
}
.socials ul li a[href*="instagram.com"]::before {
    content: '\f16d';
}
.socials ul li a[href*="pinterest.com"]::before {
    content: '\f0d2';
}
.socials ul li a[href*="youtube.com"]::before {
    content: '\f16a';
}

/* Nav */
.navigation {
    background-color: #8ed3cc;
}
.navbar-light .navbar-toggler {
    background-color: #ffffff;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: #ffffff;
}
.main-nav {
    background-image: url(../img/border_horizontal.png), url(../img/border_horizontal.png);
    background-repeat: repeat-x;
    background-position: 0px top, 0px bottom;
}
.nav-link {
    color: #ffffff;
    font-size: 1.4rem;
    transition: all ease-in-out 0.7s;
    font-family: 'Raleway', sans-serif;
}
.nav-link:hover {
    background-color: #8efbe0;
    color: #000000;
}

/* Carousel */
.carousel-caption h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #ffffff;
}
/* New site */
.new-site p {
    font-family: 'Lato', sans-serif;
    color: #979797;
    font-size: 1.6rem;
}
.img-service img {
    border: 6px solid #ffffff;
    transition: transform 0.3s ease-in-out;
}
.img-service img:hover {
    transform: scale(1.2) rotate(5deg);
}
.service-info {
    background-color: #ffffff;
    margin-top: -5rem;
}
.service-info .btn-primary {
    border-radius: 0;
    background-color: #e082a8;
    border: none;
}

/* Schedules */
.schedule {
    background-color: #8ed3cc;
    color: #ffffff;
}
.schedule h2 {
    font-size: 2.2rem;
    font-family: 'Lato', sans-serif;
}
.schedule .table {
    border: 2px solid #e082a8;
}
.schedule .table thead {
    background-color: #e082a8;
}
.schedule .table td, 
.schedule .table thead th {
    border: none;
}
.schedule .table tbody tr td {
    padding: 0.35rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}
.bg-schedule {
    background-image: url(../img/bg_horarios.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 400px;
}

/* Products */
.products .card {
    border: none;
}
.products .card a {
    color:#000000;
}
.products .card a:hover {
    text-decoration: none;
}
.products .card h3 {
    color: #e082a8;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}
.products .card p {
    font-size: 0.8rem;
}
.products .card .price {
    font-size: 1.6rem;
    color:#979797;
}

/* Reservations */
.reservation {
    background-image: url(../img/bg_citas.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
}
@media (min-width: 992px) {
    .reservation {
        background-size: cover;
    }
}
.reservation h3 {
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
}
.reservation p {
    font-size: 1.2rem;
    line-height: 2.6rem;
}
.reservation .btn-primary {
    background-color: #8efbe0;
    border: 0;
    padding: 1rem 5rem;
    border-radius: 0;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/* Footer */
.copyright {
    color: #979797;
    font-size: 0.8rem;
}